.header {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.header__content {
  padding-top: 34px;
}

@media (min-width: 320px){

  .header__content {
    padding-top: 20px;
  }
}

@media (min-width: 544px){

  .header__content {
    padding-top: 30px;
  }
}

@media (min-width: 1024px){

  .header__content {
    padding-top: 34px;
  }
}