.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  /* padding: 30px 80px 40px; */
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin: 0;
  margin-top: 183px;
  margin-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  display: block;
  margin: 0;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-right: 80px;
  margin-left: 80px;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__paragraph:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
}