.header {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  /* min-height: 720px;
  max-height: 800px; */
  /* padding: 30px 80px 40px; */
  position: relative;
  box-sizing: border-box;
}

.header__content {
  padding-top: 34px;
}