.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  /* min-height: 720px; */
  /* height: 100%; */
  /* max-height: 800px; */
  position: relative;
  box-sizing: border-box;
  color: #FFFFFF;
  /* max-width: 830px; */
  /* max-height: 482px; */
  /* margin-left: calc((100% - 830px) /3); */
  /* align-self: flex-start; */
}

.intro__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  /* width: 830px; */
  /* height: 116px; */
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  /* width: 738px; */
  margin: 0;
  margin-bottom: 10px;
}

.intro__quote-author {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  /* width: 732px; */
  margin: 0;
  margin-bottom: 32px;
}

.intro__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  /* width: 722px; */
  margin: 0;
  margin-bottom: 92px;
}

@media (min-width: 320px){

  .intro {
    align-self: center;
    max-width: 544px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media (min-width: 544px){

  .intro {
    align-self: center;
    max-width: 720px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }
}

@media (min-width: 1024px){

  .intro {
    align-self: flex-start;
    max-width: 830px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}