.picture {
  max-width: 984px;
}

.picture__image {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 92px;
  /* box-shadow: 10px 10px 25px 0px #00000080; */
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.50);
}

@media (min-width: 320px){

  .picture__image {
    margin-bottom: 64px;
  }
}

@media (min-width: 544px){

  .picture__image {
    margin-bottom: 90px;
  }
}

@media (min-width: 1024px){

  .picture__image {
    margin-bottom: 92px;
  }
}