.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  color: #FFFFFF;
}

@media (min-width: 320px){

  .places {
    gap: 50px;
    margin: 0;
  }
}

@media (min-width: 544px){

  .places {
    gap: 72px;
    margin: 0 24px;
  }
}

@media (min-width: 1024px){

  .places {
    gap: 80px;
    max-width: 984px;
    margin: 0;
  }
}